@model IEnumerable<HealthHub.Web.ViewModels.Doctor.DoctorsViewModel>
@{ this.ViewData["Title"] = "Default"; }

<h1>Deleted Doctors</h1>


<table class="table table-bordered table-hover" style="background-color:white">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Clinic
            </th>
            <th>
                Specialty
            </th>
            <th>
                Years of Experience
            </th>
            <th>
                Works With Children
            </th>
            <th>
                Online Consultations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialtyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsOFExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorksWithChildren)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnlineConsultation)
                </td>
                <td>
                    <a asp-action="Details" asp-route-doctorId="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
