@model IEnumerable<HealthHub.Web.ViewModels.Doctor.DoctorsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Doctors</h1>

<p>
    <a class="appointment-btn scrollto" asp-action="Create">Add New Doctor</a>
</p>
<table class="table table-bordered table-hover" style="background-color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsOFExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorksWithChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnlineConsultation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsOFExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorksWithChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnlineConsultation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
