@model HealthHub.Web.ViewModels.Appointment.AppointmentViewModel
@{
    this.ViewData["Title"] = "Appointment Details";
}
<section id="appointment" class="appointment section-bg">

    <div class="row row-eq-height">
        <!-- Info Box -->
        <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <iframe style="border:0; width: 100%; height: 300px;" src="@Model.ClinicMapUrl" allowfullscreen="" loading="lazy"></iframe>
                <div class="info_content"style="padding-top:20px">
                    <div class="info_title"><strong>Clinic: </strong>@Model.Clinic</div>
                    <div class="info_title"><strong>Address: </strong>@Model.Address</div>
                </div>
            </div>
        </div>
        <!-- Panel -->
        <div class="col-lg-4 list-group-item-light">
            <h2>Booked for:</h2>
            <div class="tab_panel active">
                <div class="tab_panel_content">
                    <div class="info_content">
                        <div class="info_title" style="padding-top:10px"><strong> @Model.AppointmentTime.ToString("f")</strong> </div>
                        <div class="info_text" style="padding-top:20px"><strong>Doctor: </strong>@Model.DoctorName</div>
                        <div class="info_text"><strong>Booked for: </strong>@Model.ProcedureBooked</div>
                        <div class="info_text"><strong>Additional Notes: </strong>@Model.Message</div>
                        <div class="info_text"><strong>Status: </strong>@Model.AppointmentStatus</div>
                    </div>
                    <div class="tab_list">
                        <ul>
                            @if (@Model.RatingValue == 0 && @Model.AppointmentStatus.ToString() == "Completed")
                            {
                                <a class="btn btn-outline-danger btn-sm"
                                   asp-area="" asp-controller="Rating" asp-action="RatePastAppointment" asp-route-appointmentId="@Model.Id">
                                    Rate appointment!
                                </a>
                            }
                        </ul>
                        <ul>
                            @if (@Model.AppointmentStatus.ToString() != "Completed")
                            {
                                <a class="btn btn-outline-primary btn-sm"
                                   asp-area="" asp-controller="Appointment" asp-action="Edit" asp-route-appointmentId="@Model.Id">
                                    Edit Notes
                                </a>
                            }
                        </ul>
                    </div>
                    <div class="tab_list">
                        <div class="appointment-btn scrollto">
                            <a class="appointment-btn scrollto" asp-area="" asp-controller="Appointment" asp-action="Index">
                                <h7>My Appointments</h7>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
