@model HealthHub.Web.ViewModels.Appointment.AppointmentListViewModel
@{
    this.ViewData["Title"] = "My Appointments";
}

@if (@Model.AppointmentList.Count() == 0)
{
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="about_text_2">
                <p>
                    You have nothing booked yet...
                </p>
            </div>
            <div class="about_text_highlight">
                Find a doctor using the search bar on top of the page!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="btn-get-started scrollto">
                <a asp-area="" asp-controller="Doctors" asp-action="All">
                    <span>Find a Doctor</span>
                </a>
            </div>
        </div>
    </div>}

@if (@Model.AppointmentList.Count() > 0)
{
    <h2>Due Appointments</h2>

    <table class="table table-bordered table-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date and Time</th>
                <th scope="col">Doctor</th>
                <th scope="col">Clinic</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
                <th scope="col">Reschedule</th>
                <th scope="col">Cancel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in this.Model.AppointmentList)
            {
            <tr>
                <th scope="row">@appointment.AppointmentTime.ToString("f")</th>
                <td>@appointment.DoctorName</td>
                <td>@appointment.Clinic</td>
                <td>@appointment.AppointmentStatus.ToString()</td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       asp-area="" asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                        Details
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm"
                       asp-area="" asp-controller="Appointment" asp-action="Reschedule" asp-route-id="@appointment.Id">
                        Reschedule
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       asp-area="" asp-controller="Appointment" asp-action="Cancel" asp-route-id="@appointment.Id">
                        Cancel
                    </a>
                </td>
            </tr>
}
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-10 ml-lg-5">
            <div class="about_text_highlight">
                Your Appointmen Status
            </div>
            <div class="about_text_2">
                <ul>
                    <li>
                        <span class="title">Requested</span>
                        <span class="description">- Waiting for the Doctor's confirmation.</span>
                    </li>
                    <li>
                        <span class="title">Confirmed</span>
                        <span class="description">
                            - Good! Your appointment is confirmed.
                            They are expecting you on the set date and time.
                        </span>
                    </li>
                    <li>
                        <span class="title">Cancelled</span>
                        <span class="description">- Sorry, the appointment can't happen on the set date and time.</span>
                    </li>
                </ul>
            </div>
            <strong>Need another appointment?</strong>
            <div class="btn-get-started scrollto">
                <a asp-area="" asp-controller="Doctors" asp-action="All">
                    <span>Find a Doctor</span>
                </a>
            </div>
        </div>
    </div>}

<hr class="bg-dark m-4" style="height: 6px;" />

<div>
    @await Component.InvokeAsync("PastAppointments")
</div>


@*<section id="appointment" class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <form method="get" class="col-md-6 offset-md-3"
                  enctype="multipart/form-data">
                <h1>@this.ViewData["Title"]</h1>
                @if (!@Model.AppointmentList.Any())
                {
                    <div class="row">
                        <div class="col-lg-4 ml-lg-5">
                            <div class="about_text_2">
                                <p>
                                    You have no appointments booked yet.
                                </p>
                            </div>
                            <div class="about_text_highlight">
                                Book an appointment in 3 easy steps:
                            </div>
                            <div class="about_text_highlight">
                                <ol>
                                    <li>Find a doctor.</li>
                                    <li>Choose a service.</li>
                                    <li>Pick date and time.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h2>@Model.AppointmentList.Count() appointments booked:</h2>

                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date and Time</th>
                                <th scope="col">Docotr <span class="text-info">*</span></th>
                                <th scope="col">Clinic</th>
                                <th scope="col">Status</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Details</th>
                                <th scope="col">Cancel</th>
                                <th scope="col">Reschedule</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in this.Model.AppointmentList)
                            {
                                <tr>
                                    <th scope="row">@appointment.AppointmentTime.ToString("f")</th>
                                    <td>@appointment.DoctorId</td>
                                    <td>@appointment.AppointmentStatus</td>
                                    <td>
                                        @if (appointment.RatingValue == 0 && appointment.AppointmentStatus == "Completed")
                                        {
                                            <a class="btn btn-outline-danger btn-sm"
                                               asp-area="" asp-controller="Rating" asp-action="Rate" asp-route-id="@appointment.Id">
                                                Rate this appointment
                                            </a>
                                        }
                                        else
                                        {
                                            @appointment.RatingValue
                                        }
                                    </td>
                                    <td>
                                        <a href="/Appointment/Details?appointmentId=@appointment.Id" class="btn btn-block btn-primary">Details1</a>
                                        <a class="btn btn-outline-danger btn-sm"
                                           asp-area="" asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                                            Details2
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-danger btn-sm"
                                           asp-area="" asp-controller="Appointment" asp-action="Cancel" asp-route-id="@appointment.Id">
                                            Cancel
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-danger btn-sm"
                                           asp-area="" asp-controller="Appointment" asp-action="Reschedule" asp-route-id="@appointment.Id">
                                            Reschedule
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="row">
                    <div class="col-lg-4 ml-lg-5">
                        <div class="button button-large button_1 elements_button mt-4">
                            <a asp-area="" asp-controller="Doctor" asp-action="All">
                                <span>Find a doctor</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>*@

