@model HealthHub.Web.ViewModels.Appointment.AppointmentRatingViewModel
@{
    this.ViewData["Title"] = "Rate your appointment";
}
<partial name="_HeaderPartial" />

@if (Model.HasBeenVoted == true)
{
    <h3>You've already rated the Doctor for this appointment!</h3>

    <div class="pt-3">
        <a class="btn btn-info" asp-area="" asp-controller="Appointment" asp-action="Index">
            Back To Appointments
        </a>
    </div>
}
else
{
    <div class="row row-eq-height" style="background-color:white">
        <!-- Info Box -->
        <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <div class="info_image"><img src="@Model.DoctorImg" alt=""></div>
                <div class="info_content">
                    <div class="info_title">@Model.DoctorName</div>
                    <div class="info_text">Specialty: <strong>@Model.DoctorSpecialty</strong></div>
                    <div class="info_text">Clinic: <strong>@Model.DoctorClinic</strong></div>
                </div>
            </div>
        </div>
        <!-- Panel -->
        <div class="col-lg-6">
            <h2>
                How would you rate
                <br />your appointment with this doctor:
            </h2>
            <div class="col-lg-6">
                <form method="post">
                    <div class="row my-3">
                        <p>Choose here:</p>
                    </div>
                    <div class="row my-3">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" class="rating-value form-control form-control-sm" id="selectedRating" value="0.0" />
                            <input type="number" class="form-control form-control-sm disabled" value="0"
                                   asp-for="@Model.RateValue" required readonly />
                            <span asp-validation-for="RateValue" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <input asp-for="@Model.DoctorId" value="@Model.DoctorId" class="form-control" hidden>
                        <input asp-for="@Model.Id" value="@Model.Id" class="form-control" hidden>
                    </div>
                    <div>
                        <textarea asp-for="AdditionalComments" class="form-control" rows="5" placeholder="Additional comments"></textarea>                    
                    </div>
                    <div class="row my-3">
                        <button type="submit" class="btn btn-outline-success"
                                asp-area="" asp-controller="Rating" asp-action="Rate" asp-route-appointmentId="@Model.Id">
                            Rate!
                        </button>
                    </div>
                    <div class="row my-3">
                        <div>
                            <a class="btn btn-outline-dark" asp-area="" asp-controller="Appointment" asp-action="Index">
                                Not Now
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/rating-responsive.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        })
    </script>
}
@*<div class="container">

        <div class="section-title">
            <form method="post" class="col-md-6 offset-md-3"
                  enctype="multipart/form-data">
                <h1>@this.ViewData["Title"]</h1>
                <div class="form-group mt-3">
                    <label asp-for="Value"></label>
                    <textarea asp-for="Value" class="form-control" rows="5" placeholder="Your Rating"></textarea>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="AdditionalComments"></label>
                    <textarea asp-for="AdditionalComments" class="form-control" rows="5" placeholder="Additional Comments (Optional)"></textarea>
                    <span asp-validation-for="AdditionalComments" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>*@
