@model HealthHub.Web.ViewModels.Appointment.AppointmentViewModel
@{
    this.ViewData["Title"] = "Appointment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_AdminHeaderPartial" />

<section id="appointment" class="appointment section-bg">

    <div class="row row-eq-height">
        <!-- Info Box -->
        <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <iframe style="border:0; width: 100%; height: 300px;" src="@Model.ClinicMapUrl" allowfullscreen="" loading="lazy"></iframe>
                <div class="info_content" style="padding-top:20px">
                    <div class="info_title"><strong>Clinic: </strong>@Model.ClinicName</div>
                    <div class="info_title"><strong>Address: </strong>@Model.ClinicAddress</div>
                </div>
            </div>
        </div>
        <!-- Panel -->
        <div class="col-lg-4 list-group-item-light">
            <h2>Booked for:</h2>
            <div class="tab_panel active">
                <div class="tab_panel_content">
                    <div class="info_content">
                        <div class="info_title" style="padding-top:10px"><strong> @Model.AppointmentTime.ToString("f")</strong> </div>
                        <div class="info_text" style="padding-top:20px"><strong>Doctor: </strong>@Model.DoctorName</div>
                        <div class="info_text" style="padding-top:20px"><strong>Patient: </strong>@Model.PatientName</div>
                        <div class="info_text" style="padding-top:20px"><strong>Booked for: </strong>@Model.ProcedureBooked</div>
                        <div class="info_text"><strong>Additional Notes: </strong>@Model.Message</div>
                        <div class="info_text"><strong>Status: </strong>@Model.AppointmentStatus</div>
                    </div>
                    <div class="tab_list">
                           @if (@Model.RatingValue != 0 && @Model.AppointmentStatus.ToString() == "Completed")
                            {
                                <div class="info_text">
                                    Rating: &nbsp;&nbsp;
                                    <span class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="whatever1" class="rating-value" value="@Model.RatingValue">
                                    </span>
                                </div>
                            }
                    </div>
                    <div class="tab_list">
                        <div class="appointment-btn scrollto">
                            <a class="appointment-btn scrollto" asp-area="Administratio" asp-controller="Appointments" asp-action="Index">
                                <h7>All Appointments</h7>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>