@model HealthHub.Web.ViewModels.Clinics.ClinicViewModel

@{ ViewData["Title"] = "Default"; }
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>@Model.Name</h2><!--Find a Clinic-->
        </div>
    </div>

    <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="@Model.MapUrl" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="email">
                        <i class="bi bi-house"></i>
                        <h4>Clinic:</h4>
                    </div>

                    <div class="email">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                    </div>

                    <div class="phone">
                        <i class="bi bi-star-fill"></i>
                        <h4>Clinic's rating:</h4>
                    </div>

                </div>

            </div>


            <div class="col-lg-8 mt-5 mt-lg-0">

                @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">
                *@
                <div class="row">
                    <div class="col-md-6 form-group">
                        @*<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>*@
                        <p>@Model.Name</p>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        @*<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>*@
                        <p>@Model.Address</p>
                    </div>
                    <div class="info_text">
                        Rating: &nbsp;&nbsp;
                        <span class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="@Model.AverageRating">
                        </span>
                        <span>&nbsp; ( @Model.AverageRating.ToString("F") / 5.00 ) from @Model.RatingCount votes</span>
                    </div>
                </div>
                <div class="appointment-btn scrollto">
                    <a asp-area="" asp-controller="Doctors" asp-action="All"
                       asp-route-clinicId="@Model.Id">
                        <i class="appointment-btn scrollto">
                            <span>See the Doctors</span>
                        </i>
                    </a>
                </div>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@section Scripts {
    <script src="~/js/rating-static.js" asp-append-version="true"></script>
}

