@model IEnumerable<HealthHub.Web.ViewModels.Clinics.ClinicSimpleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var insuranceCompanies = this.ViewData["InsuranceCompanies"] as SelectList;

}
<partial name="_AdminHeaderPartial" />

<h1>Clinics</h1>

<p>
    <a class="appointment-btn scrollto" asp-action="Create">Add New Clinic</a>
</p>
<table class="table table-bordered table-hover" style="background-color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Area
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

<div>
    @await Component.InvokeAsync("DeletedClinics")
</div>