@using HealthHub.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/remixicon/remixicon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.2.1/animate.css" asp-append-version="true" />
    
    @this.RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <div class="super_container">
        <partial name="_TopBarPartial" />

        <!-- Home -->
        @if (this.ViewData["Title"].ToString() == "Home Page")
        {
            <!--Hero Section-->
            <partial name="_HeroPartial" />
        }
        else
        {
            <section id="hero" class="d-flex align-items-center">
                <div class="container">
                    <h1>@this.ViewData["Title"]</h1>
                </div>
            </section>
        }


        <div class="m-5">
            <main role="main">
                @this.RenderBody()
            </main>
        </div>


        <!--Footer-->
        <partial name="_FooterPartial" />
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/lib/glightbox/js/glightbox.min.js" asp-append-version="true"></script>
        <script src="~/lib/php-email-form/validate.js" asp-append-version="true"></script>
        <script src="~/lib/purecounter/purecounter.js" asp-append-version="true"></script>
        <script src="~/lib/swiper/swiper-bundle.min.js" asp-append-version="true"></script>
        <script src="~/plugins/easing/easing.js" asp-append-version="true"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js" asp-append-version="true"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
