@using HealthHub.Data.Models.Enums
@model DoctorsFilterViewModel
@{
    this.ViewData["Title"] = "Our Doctors";
    var cityAreas = this.ViewData["CityAreas"] as SelectList;
    var insuranceCompanies = this.ViewData["InsuranceCompanies"] as SelectList;
    var specialties = this.ViewData["Specialties"] as SelectList;
}

<partial name="_HeaderPartial" />

<!-- ======= Filtering ======= -->
<form method="get">
    <header id="header">

        <div class="container d-flex align-items-center">


            <div class="row mb-5">
                <div class="form-group col-md-2">
                    <div class="form-group">
                        @Html.DropDownList("specialtyId", specialties, "Specialty", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        @Html.DropDownList("cityAreaId", cityAreas, "City Area", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        @Html.DropDownList("insuranceId", insuranceCompanies, "Insurance", new { @class = "form-control" })
                    </div>
                </div>
                <!-- 1st way of Enum dropdown list -->
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <select asp-for="Gender" class="form-control">
                            @foreach (var item in Html.GetEnumSelectList<Gender>())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="WorksWithChildren" />
                            Works with Children
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="OnlineConsultation" />
                            Online consultations
                        </label>
                    </div>
                </div>
                <!-- 2nd way of Enum dropdown list -->
                <div class="form-group col-md-2">
                    <div class="form-group">
                        <select asp-for="Sorting" class="form-control">
                            <option value="0" selected>Sort By</option>
                            <option value="1">Latest</option>
                            <option value="2">Best Voted</option>
                            <option value="3">Most Popular</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <input type="submit" class="appointment-btn" value="Filter"/>
                </div>
                <div class="form-group col-md-2">
                    <a asp-area="" asp-controller="Doctors" asp-action="All" class="appointment-btn scrollto" area-hidden="true"><span>Reset</span></a>
                </div>
            </div>
        </div>
    </header>
</form>

<!-- End Filtering -->

<partial name="_DocPartial" model="Model.Doctors" />
<partial name="_PagingPartial" model="@Model.Paging" />

